{% extends 'base1.html.twig' %}

{% block title %}Liste{% endblock %}

{% block body %}
 <div class="container">
 <h3>Utilisateur connecte :{{ ema }}</h3>  
 
 <div class="alert alert-primary" role="alert">
   <strong>{{ msg }}</strong>
 </div>
 <h1>Liste de tous les produits</h1>
 


  <table class="table table-striped ">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">NOM</th>
      <th scope="col">PRIX</th>
      <th scope="col">CATEGORIE</th>
       <th scope="col">Actions</th>
      
    </tr>
  </thead>
  <tbody>
   {% for p in produits %}
    <tr>
      <th scope="row">{{ p.id }}</th>
      <td>{{ p.nom }}</td>
      <td>{{ p.prix }}</td>
      <td>{{ p.categorie.nom }}</td>
      <td><a class="btn btn-danger" href="{{ path("app_produit_delete" ,{'id':p.id} ) }}">Supprimer </a>
      <a class="btn btn-primary" href="{{ path("app_produit_detail" ,{'id':p.id} ) }}">  Detail</a></td>
      
    </tr>
     {% endfor %}

      </tbody>
</table>

</div>


{% endblock %}

